__pycache__/
*.pyc
*.pyo
.pytest_cache/
.env
.venv
venv/
env/
.ipynb_checkpoints/
data/raw/
data/processed/DeepAR/
data/processed/scalers.pkl
# data/processed/*.csv  <-- NOT ignored
.vscode/
.idea/
.DS_Store
Thumbs.db
notebooks/lightning_logs/